<h1 style="text-align: center;">Cats Rules</h1>

<p style="text-align:center;"> 
  <%= link_to 'New Photo', new_photo_path, style: "background-color:black; color:white" %> 
</p>

<ul>
  <% @photos.each do |photo| %>
    <li style="text-align: center;">
      <img src="<%= photo.url%>" weight="400" height="400"/>
      <p> <%= photo.title %></p>
    </li>
  <% end %> 
</ul>








































<% if false %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><img src="<%= photo.url %>" width="400" heigth="400"> </img></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>

<% end %>